In [1]:
import pandas as pd

In [2]:
base = pd.read_csv(r'C:/Users/carol/Downloads/Watches.csv', low_memory=False)

In [3]:
base.head(5)

,Unnamed: 0,name,price,brand,model,ref,mvmt,casem,bracem,yop,cond,sex,size,condition
0,0,Audemars Piguet Royal Oak Offshore Chronograph...,"$43,500",Audemars Piguet,Royal Oak Offshore Chronograph,26237ST.OO.1000ST.01,NaN,NaN,NaN,2019,Unworn,Men's watch/Unisex,42 mm,NaN
1,1,Audemars Piguet Royal Oak Selfwinding\n39mm Bl...,"$71,500",Audemars Piguet,Royal Oak Selfwinding,15300ST.OO.1220ST.02,NaN,NaN,NaN,2012,Very good,Men's watch/Unisex,39 mm,NaN
2,2,Audemars Piguet Royal Oak Chronograph\nBlue Di...,"$79,191",Audemars Piguet,Royal Oak Chronograph,26331ST,Automatic,Steel,Steel,Unknown,Unworn,NaN,41 mm,NaN
3,3,Audemars Piguet Royal Oak Chronograph\nSelfwin...,"$108,000",Audemars Piguet,Royal Oak Chronograph,26715ST.OO.1356ST.01,Automatic,Steel,Steel,2022 (Approximation),New,Men's watch/Unisex,38 mm,NaN
4,4,Audemars Piguet Royal Oak Offshore Chronograph...,"$27,500",Audemars Piguet,Royal Oak Offshore Chronograph,26170ST.OO.1000ST.01,Automatic,Steel,Steel,Unknown,Very good,Men's watch/Unisex,42 x 54 mm,NaN

In [4]:
base = base.drop('Unnamed: 0', axis=1)

In [5]:
base.head(5)

,name,price,brand,model,ref,mvmt,casem,bracem,yop,cond,sex,size,condition
0,Audemars Piguet Royal Oak Offshore Chronograph...,"$43,500",Audemars Piguet,Royal Oak Offshore Chronograph,26237ST.OO.1000ST.01,NaN,NaN,NaN,2019,Unworn,Men's watch/Unisex,42 mm,NaN
1,Audemars Piguet Royal Oak Selfwinding\n39mm Bl...,"$71,500",Audemars Piguet,Royal Oak Selfwinding,15300ST.OO.1220ST.02,NaN,NaN,NaN,2012,Very good,Men's watch/Unisex,39 mm,NaN
2,Audemars Piguet Royal Oak Chronograph\nBlue Di...,"$79,191",Audemars Piguet,Royal Oak Chronograph,26331ST,Automatic,Steel,Steel,Unknown,Unworn,NaN,41 mm,NaN
3,Audemars Piguet Royal Oak Chronograph\nSelfwin...,"$108,000",Audemars Piguet,Royal Oak Chronograph,26715ST.OO.1356ST.01,Automatic,Steel,Steel,2022 (Approximation),New,Men's watch/Unisex,38 mm,NaN
4,Audemars Piguet Royal Oak Offshore Chronograph...,"$27,500",Audemars Piguet,Royal Oak Offshore Chronograph,26170ST.OO.1000ST.01,Automatic,Steel,Steel,Unknown,Very good,Men's watch/Unisex,42 x 54 mm,NaN

In [6]:
base = base.reset_index(drop=True)

In [7]:
base.head(3)

,name,price,brand,model,ref,mvmt,casem,bracem,yop,cond,sex,size,condition
0,Audemars Piguet Royal Oak Offshore Chronograph...,"$43,500",Audemars Piguet,Royal Oak Offshore Chronograph,26237ST.OO.1000ST.01,NaN,NaN,NaN,2019,Unworn,Men's watch/Unisex,42 mm,NaN
1,Audemars Piguet Royal Oak Selfwinding\n39mm Bl...,"$71,500",Audemars Piguet,Royal Oak Selfwinding,15300ST.OO.1220ST.02,NaN,NaN,NaN,2012,Very good,Men's watch/Unisex,39 mm,NaN
2,Audemars Piguet Royal Oak Chronograph\nBlue Di...,"$79,191",Audemars Piguet,Royal Oak Chronograph,26331ST,Automatic,Steel,Steel,Unknown,Unworn,NaN,41 mm,NaN

In [8]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284491 entries, 0 to 284490
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   name       211906 non-null  object
 1   price      284085 non-null  object
 2   brand      284360 non-null  object
 3   model      254025 non-null  object
 4   ref        241339 non-null  object
 5   mvmt       87806 non-null   object
 6   casem      120220 non-null  object
 7   bracem     109595 non-null  object
 8   yop        284357 non-null  object
 9   cond       208504 non-null  object
 10  sex        188686 non-null  object
 11  size       260894 non-null  object
 12  condition  71569 non-null   object
dtypes: object(13)
memory usage: 28.2+ MB

In [9]:
base.shape

(284491, 13)

In [10]:
base.isnull().sum()

name          72585
price           406
brand           131
model         30466
ref           43152
mvmt         196685
casem        164271
bracem       174896
yop             134
cond          75987
sex           95805
size          23597
condition    212922
dtype: int64

In [11]:
# substituição dos valores vazios pela moda
moda = base.mode().iloc[0]
base = base.fillna(moda)

base.isnull().sum()

name         0
price        0
brand        0
model        0
ref          0
mvmt         0
casem        0
bracem       0
yop          0
cond         0
sex          0
size         0
condition    0
dtype: int64

In [12]:
base.price = base.price.str.replace('[^\d]', '',regex = True)
base.price = pd.to_numeric(base.price,errors = 'coerce')

In [13]:
base.head(5)

,name,price,brand,model,ref,mvmt,casem,bracem,yop,cond,sex,size,condition
0,Audemars Piguet Royal Oak Offshore Chronograph...,43500.0,Audemars Piguet,Royal Oak Offshore Chronograph,26237ST.OO.1000ST.01,Automatic,Steel,Steel,2019,Unworn,Men's watch/Unisex,42 mm,Very good
1,Audemars Piguet Royal Oak Selfwinding\n39mm Bl...,71500.0,Audemars Piguet,Royal Oak Selfwinding,15300ST.OO.1220ST.02,Automatic,Steel,Steel,2012,Very good,Men's watch/Unisex,39 mm,Very good
2,Audemars Piguet Royal Oak Chronograph\nBlue Di...,79191.0,Audemars Piguet,Royal Oak Chronograph,26331ST,Automatic,Steel,Steel,Unknown,Unworn,Men's watch/Unisex,41 mm,Very good
3,Audemars Piguet Royal Oak Chronograph\nSelfwin...,108000.0,Audemars Piguet,Royal Oak Chronograph,26715ST.OO.1356ST.01,Automatic,Steel,Steel,2022 (Approximation),New,Men's watch/Unisex,38 mm,Very good
4,Audemars Piguet Royal Oak Offshore Chronograph...,27500.0,Audemars Piguet,Royal Oak Offshore Chronograph,26170ST.OO.1000ST.01,Automatic,Steel,Steel,Unknown,Very good,Men's watch/Unisex,42 x 54 mm,Very good

In [14]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284491 entries, 0 to 284490
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   name       284491 non-null  object
 1   price      269826 non-null  float64
 2   brand      284491 non-null  object
 3   model      284491 non-null  object
 4   ref        284491 non-null  object
 5   mvmt       284491 non-null  object
 6   casem      284491 non-null  object
 7   bracem     284491 non-null  object
 8   yop        284491 non-null  object
 9   cond       284491 non-null  object
 10  sex        284491 non-null  object
 11  size       284491 non-null  object
 12  condition  284491 non-null  object
dtypes: float64(1), object(12)
memory usage: 28.2+ MB